<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Ticket Tracker Application</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" th:href="@{/tickets}">Tickets</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/tickets/new}">New Tickets </a></li>
			</ul>
		</div>



	</nav>

	<div class="container">
		<div class="row">
			<h1>List of tickets</h1>
		</div>


		<div class="topnav pl-5">
			<form th:action="@{/search}" method="GET">
				<input type="text" name="keyword" th:value="${keyword}"
					placeholder="Find by Ticket Title or Ticket Description" size="50">
				<button type="submit" class="btn btn-primary">Search</button>
			</form>
		</div>





		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created On</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket: ${tickets}">
					<td th:text="${ticket.id}"></td>
					<td th:text="${ticket.ticketTitle}"></td>
					<td th:text="${ticket.ticketShortDescription}"></td>
					<td th:text="${ticket.ticketCreatedOn}"></td>
					<td><a th:href="@{/tickets/edit/{id}(id=${ticket.id})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/tickets/{id}(id=${ticket.id})}" class="btn btn-danger">Delete</a>
						<a th:href="@{/tickets/view/{id}(id=${ticket.id})}"
						class="btn btn-primary">view</a></td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>